
p { 
	color: black; 
	font-family: Adobe Calson Pro;
	src: url('https://github.com/sestelo/sestelo.github.io/blob/master/adobe_caslon_pro.ttf'); 
}


/* insert images */
#foto {
	float: left;
	width: 5%;
	height: auto;
	margin: 0px -5px 10px 0px;
}
#linkedin {
	float: left;
	width: 3.5%;
	height: auto;
	margin: 5px 0px 10px 0px;
}
#twitter {
	float: left;
	width: 3.2%;
	height: auto;
	margin: 6px 0px 10px 5px;
}

